body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 5% 8%;
}

hr{
    margin-top: 0;
    padding: 0;
    height: 0.3rem;
    background-color: black;
}

.header h1{
    font-weight: 700;
    font-size: 4rem;
}

.nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.nav a{
    text-decoration: none;
    color: black;
    font-weight: 800;
}

.main{
    /* border: 2px solid cornflowerblue; */
    display: flex;
    width: 100%;
}

.col-one{
    /* border: 2px solid green; */
    width: 60%;
    padding-right: 6%;
    padding-top: 3%;
}

.col-two{
    /* border: 2px solid red; */
    width: 45%;
    padding-top: 3%;
}

.experience h1{
    padding-top: 2rem;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0;
}

.experience__field h2{
    padding-top: 1rem;
    font-weight: 400;
    font-size: 1.6rem;
}

.experience__field h3{
    font-weight: 600;
    font-size: 1.4rem;
    margin-bottom: 0;
}

.date{
    display: inline-block;
    margin-right: 2rem;
}

.location{
    display: inline-block;
}

.skills h1{
    padding-top: 2rem;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0;
}

.skill__card{
    border: 0.1rem solid grey;
    width: fit-content;
    padding: 0.3rem;
    margin: 0.2rem;
    border-radius: 0.4rem;
    display: inline-block;
}

.ror h1{
    padding-top: 2rem;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0;
}

.ror__field h2{
    padding-top: 1rem;
    font-weight: 400;
    font-size: 1.6rem;
}

.ror__field h3{
    font-weight: 600;
    font-size: 1.4rem;
    margin-bottom: 0;
}

.certifications h1{
    padding-top: 2rem;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0;
}

.education h1{
    padding-top: 2rem;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0;
}

.education__field h2{
    padding-top: 1rem;
    font-weight: 400;
    font-size: 1.6rem;
}

.education__field h3{
    font-weight: 600;
    font-size: 1.4rem;
    margin-bottom: 0;
}

.project h1{
    padding-top: 2rem;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0;
}

.project__field h2{
    font-weight: 600;
    font-size: 1.4rem;
}

.publication h1{
    padding-top: 2rem;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0;
}

.publication__field h2{
    padding-top: 1rem;
    font-weight: 400;
    font-size: 1.4rem;
}

.publication__field h3{
    font-weight: 600;
    font-size: 1rem;
}

/*  -----  Responsive  ------   */

@media screen and (max-width:768px) {
    .header h1{
        font-size: 2rem;
    }

    .nav{
        flex-direction: column;
    }

    .main{
        flex-direction: column;
    }
    .col-one{
        width: 100%;
    }

    .col-two{
        width: 100%;
    }

    .experience h1{
        padding-top: 2rem;
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 0;
    }

    .experience__field h2{
        font-weight: 400;
        font-size: 1.2rem;
    }
    
    .experience__field h3{
        font-weight: 600;
        font-size: 1rem;
    }

    .skills h1{
        padding-top: 2rem;
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 0;
    }

    .ror h1{
        padding-top: 2rem;
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 0;
    }

    .ror__field h2{
        font-weight: 400;
        font-size: 1.2rem;
    }
    
    .ror__field h3{
        font-weight: 600;
        font-size: 1rem;
    }

    .certifications h1{
        padding-top: 2rem;
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 0;
    }

    .education h1{
        padding-top: 2rem;
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 0;
    }

    .education__field h2{
        font-weight: 400;
        font-size: 1.2rem;
    }
    
    .education__field h3{
        font-weight: 600;
        font-size: 1rem;
    }

    .project h1{
        padding-top: 2rem;
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 0;
    }

    .project__field h2{
        font-weight: 600;
        font-size: 1rem;
    }

    .publication h1{
        padding-top: 2rem;
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 0;
    }

    .publication__field h2{
        font-weight: 400;
        font-size: 1.2rem;
    }
    
    .publication__field h3{
        font-weight: 600;
        font-size: 1rem;
    }
}